*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


body{
    text-align: center;
    font-family: roboto, sans-serif;
    
}  

.container{
    background-color:lightblue ;   
    background-size: fill;
    background-repeat: no-repeat;
    height: 100vh;


}

.seccion1{
    width:340px;
    background-color: white;
    position: relative;
    top: 150px;
    box-shadow: 2px 2px 10px #bababa;
}
.puntito{ 
    font-size: 19px;
    text-decoration: none;
    color: grey;
    text-decoration-style: bold
}

.puntito:hover{
    font-size: 22px
}

.mark{  
text-align: left;
padding: 15px ;
font-size: 16px;
background-color: cornflowerblue;
color: white;
text-decoration-style: bold;
}

.x{ position: absolute;
    right: 15px;
}

.x:hover{
   
    width: 6%
}


.hoy {
    font-size: 9px;
    text-decoration: none;
    color: grey;
    position: absolute;
    padding: 6px;
    top: 50px;
    right: 147px;
    background-color: white;
}

.borde {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
    margin: 12px;
    
}

.tiempoi{
    font-size: 9px;
    text-decoration: none;
    color: grey;
    display: flex;
    flex-direction: row;

}

.tiempod{
    font-size: 9px;
    text-decoration: none;
    color: grey;
    display: flex;
    flex-direction: row-reverse;
}

.holam {

    font-size: 11px;
    text-decoration: none;
    color: black;
    background-color: lightblue ;
    padding: 5px;
    text-align: left;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    position: relative;
    right: 47px;
    display: flex;
    flex-direction: row;
    
} 

.holam1{

    font-size: 11px;
    text-decoration: none;
    color: black;
    background-color: lightblue ;
    padding: 5px;
    text-align: left;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 26%;
    position: relative;
    right: 110px;
    display: flex;
    flex-direction: row;

}
.claro {
    font-size: 11px;
    text-decoration: none;
    color: black;
    background-color: lightgray ;
    padding: 5px;
    text-align: left;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 77%;
    position: relative;
    right: -42px;
    display: flex;
    flex-direction: row-reverse;

}

.blocked{
        font-size: 11px;
        text-decoration: none;
        color: black;
        background-color: lightcoral ;
        padding: 5px;
        text-align: left;
        border-radius: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 54%;
        position: relative;
        right: -76px;
        display: flex;
        flex-direction: row-reverse;
    
}

.fin{
    text-decoration: none;
    color: lightgray;
    padding: 12px;
    display: flex;
    flex-direction: row;

}

button {
    position: absolute;
    right: 13px;
    border: none;
    color: cornflowerblue;
    font-size: 14px;
    text-transform: uppercase
    
}

