*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


body{
    text-align: center;
    font-family: roboto, sans-serif;
    
}  

.container{
   background-color:   #16a085;
    background-size: fill;
    background-repeat: no-repeat;
    height: 100vh;

}



.seccion1{
    width:500px;
    background-color: white;
    background-image: url("img/bicycle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 113px;
    position: relative;
    top: 150px;
    box-shadow: 2px 2px 10px #bababa;
}

.titulo{ font-size:  15px;
    color: black;
    text-align: left;
    padding: 20px;
    margin-left: 26px;
}

.info{
    position: absolute;
    right:50px
}

.paquete{
    font-size: 12px;
    color: grey
}

.bici{
    font-size: 13px;
    color: black;
    text-align: left;
    margin-left: 48px;
}

.precio{
    font-size: 17px;
    position: absolute;
    right:48px
}

.total{
  text-align: left;
  font-size: 14px;
  margin-left: 48px;
}
.info {
    border: solid grey 1px;
    border-radius: 20px
}
.info:hover {
    box-shadow: 2px 2px 4px grey;
}